@using Entity_Framework_Using_DataBase_approach.Models.ViewModels
@model List<CategoryDTO>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Add New Category", "Create")
</p>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = category.CategoryId }) 
            </td>
        </tr>
    }
</table>
