@model Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th>Product Name</th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th>Price</th>
        <td>₹ @Model.Price</td>
    </tr>

    <tr>
        <th>Stock Quantity</th>
        <td>@Model.StockQuantity</td>
    </tr>

    <tr>
        <th>Category</th>
        <td>@Model.Category?.CategoryName</td>
    </tr>
</table>


<a asp-action="Index" class="btn btn-secondary">Back</a>
