@using System.Security.Claims

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
             @User.Identity.Name
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li class="dropdown-item text-muted">
                Role:
                <strong>
                    @(User.IsInRole("Admin") ? "Admin" : "User")
                </strong>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <a class="dropdown-item text-danger" href="/logout">
                    Logout
                </a>
            </li>
        </ul>
    </div>
}
