@model List<Entity_Framework.Models.Product>

@{
    ViewData["Title"] = "Product List";
    Layout = null;
}

<h2>Product List @Html.ActionLink("Add Product","AddProduct","Product")</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No products found</td>
            </tr>
        }
    </tbody>
</table>
